:root {
  --azul-care-plus: #2194d6c0;
  --verde-sucesso: #28a745;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

body, .bg-light {
  background-image: url("../img/fundo-saude2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-primary, .btn-primary {
  background-color: var(--azul-care-plus) !important;
  border-color: var(--azul-care-plus) !important;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

footer {
  font-size: 0.9rem;
  color: #6c757d;
}

.footer-custom {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(8px);
}

.display-4 {
  filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.1));
}

.btn {
  transition: all 0.2s ease;
}

.btn:hover {
  transform: translateY(-2px);
}

.card {
  border-radius: 18px !important;
  border: 1px solid #2194d6c0 !important;
}

.card-glass {
  background-color: rgba(255, 255, 255, 0.644) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}