:root {
  --azul-care-plus: #004a99;
  --verde-sucesso: #28a745;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

body, .bg-light {
  background-color: #cceee9 !important;
}

.bg-primary, .btn-primary {
  background-color: var(--azul-care-plus) !important;
  border-color: var(--azul-care-plus) !important;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

footer {
  font-size: 0.9rem;
  color: #6c757d;
}

.display-4 {
  filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.1));
}